[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bleach = "*"
certifi = "*"
chardet = "*"
Click = "*"
cycler = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
Flask = "*"
google = "*"
google-cloud = "*"
gtfs-realtime-bindings = "*"
greenlet = "*"
html5lib = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
itsdangerous = "*"
jedi = "*"
Jinja2 = "*"
jsonschema = "*"
jupyter = "*"


[dev-packages]
pytest = "*"
